<div class="parties-data">
  <% partiesData.forEach((party) => { %>
    <div class="party-name">
      <%= party.name %>
    </div>
    <% if(party.desc) { %>
      <div class="party-desc">
        <%= party.desc %>
      </div>
    <% } %>
    <form action="/profile/parties/add-pokemon/confirm" method="post">
      <div>
        <input type="text" name="ownId" value="<%= idToAdd %>">
        <input type="hidden" name="partyId" value="<%= party.id %>">
        <button class="btn waves-effect waves-light blue" type="submit">
          Add to this party
        </button>
      </div>
    </form>
  <% }) %>
</div>
