<h1>New Party</h1>

<form action="submit" method="post">
  <input type="text" name="name" value="Untitled">
  <input type="text" name="desc" placeholder="all attack, tanks only, bait and switch">
  <input type="submit" name="submit" value="Submit">
</form>
