<div class="card-action">
  <form action="/profile/pokemon/remove-from-party?_method=DELETE" method="post">
    <input type="hidden" name="ownId" value="<%= eachOwn.id %>">
    <input type="hidden" name="partyId" value="<%= partyId %>">
    <button class="btn-small waves-effect waves-light red" type="submit">
      <i class="material-icons">do_not_disturb_alt</i>
    </button>
  </form>
</div>
