views/search/index.ejs

<div class="type-holder">
  <% type.forEach((type, i) => { %>
    <div class="inlinecheckbox">
      <label>
        <input type="checkbox" name="type" value="<%= type.id %>" checked="checked" />
        <span><%= type.name %></span>
      </label>
    </div>
  <% }) %>
</div>
