<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Party Planner</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <% include ./partials/nav %>
  <main>
    <% include ./partials/alerts %>
    <%- body %>
  </main>
  <footer>
    <p>
      Pokémon © 2002-2019 Pokémon. © 1995-2019 Nintendo/Creatures Inc./GAME FREAK Inc. TM, ® and Pokémon character names are trademarks of Nintendo. This is a third-party web application not affiliated with or sponsored by Nintendo or The Pokémon Company.
    </p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var instancesNav = M.Sidenav.init(document.querySelectorAll('.sidenav'))
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, options);
    })
  </script>
</body>
</html>
