.closeable {
  cursor: pointer;
}
.inlineitem {
  display: inline-block;
  vertical-align: middle;
}
.inlinecheckbox {
  display: inline-block;
  margin-left: 3%;
}
.move-info {
  background-color: lightgrey;
  margin-bottom: 5px;
}
.nomargin {
  margin: 0;
}
.side-by-side {
  display: flex
}
.ability-name, .move-name, .table-title {
  text-transform: capitalize;
}
.error-msg::first-letter {
  text-transform: uppercase;
}
.in-moveset {
  background-color: yellow;
}
button i{
  margin: 0;
  padding: 0;
}
