.ability-desc {
  margin-left: 15px;
}
.ability-name, .move-name {
  text-transform: capitalize;
}

.btn {
  font-size: 13.5px;
}


.closeable {
  cursor: pointer;
}
.dex-ability {
  background-color: lightgrey;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error-msg::first-letter {
  text-transform: uppercase;
}
.form-holder {
  padding: 2vw;
  border-radius: 10px;
  background-color: lightgrey;
}
.general-info {
  width: 160px;
  background-color: orange;
  font-size: 27px;
}
.in-moveset {
  background-color: yellow;
}
.inlineitem {
  display: inline-block;
  vertical-align: middle;
}
.inlinecheckbox {
  display: inline-block;
  margin-left: 3%;
}
.move-info {
  background-color: lightgrey;
  margin-bottom: 5px;
}
.moveset {
  background-color: pink;
}
.nomargin {
  margin: 0;
}
.own-move-info, .own-ability-info {
  background-color: skyblue;
  margin-bottom: 5px;
}
.party-pokes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pokename {
  text-transform: capitalize;
}
.poketype {
  width: 85px;
}
.potential {
  margin-top: 1vw;
  margin-right: 1vw;
}
.prof-img {
  margin-top: 1vw;
}
.side-by-side {
  display: inline-table;
}
.submit {
  text-align: center;
}
.move-middle {
  display: flex;
  justify-content: space-between;
}
.move-name, .ability-name {
  font-weight: bold;
  font-size: 18px;
}
.name-role {
  display: flex;
}
.reminder {
  margin: 10px;
  padding: 5px;
  background-color: black;
  color: white;
}
.small-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  text-transform: capitalize;
}
.stats {
  margin: 3%;
  margin-bottom: 2vw;
  margin-top: 1vw;
  padding: 4%;
  background-color: yellow;
}
.statbar {
  display: flex;
  justify-content: space-between;
}
.table-title {
  font-size: 25px;
}
.table-title::first-letter {
  text-transform: uppercase;
}
.top-info {
  display: inline-block;
}
.update > button {
  height: 100px;
  vertical-align: text-bottom;
}



button > .large {
  font-size: 70px;
}
button > i{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
fieldset {
  background-color: white;
}
h1 {
  text-align: center;
}
.label {
  color: black;
}
.dis {
  color: grey;
}
legend {
  border: 1px solid grey;
  padding: 4px 10px;
  background-color: grey;
  color: white;
  font-weight: bold;
}


[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  background-color: lightgrey;
}
