.ability-desc {
  margin-left: 15px;
}
.ability-name, .move-name {
  text-transform: capitalize;
}
.alert-purple {

}
.allwhite {
  width: 100%;
  height: 100%;
  padding: 6vw;
  background-color: white;
}
.type {
  font-size: 20px;
  line-height: .9;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}
.normal {
  background-color: #b2b1ae;
  color: #4f4d49;
  text-shadow: 0px 1px 0 #f2f0ea;
}
.fire {
  background-color: #CA3332;
  color: #4A1516;
  text-shadow: 0px 1px 0 #edb1b1;
}
.water {
  background-color: #89b2ff;
  color: #12396C;
}
.electric {
  background-color: #E7C01B;
  color: #855400;
  text-shadow: 0px 1px 0 #f2e4ae;
}
.grass {
  background-color: #6ABA3D;
  color: #17640D;
  text-shadow: 0px 1px 0 #caf2b3;
}
.ice {
  background-color: #B5D5EC;
  color: #2F5978;
}
.fighting {
  background-color: #BC5133;
  color: #1E0708;
}
.poison {
  background-color: #689668;
  color: #2E492E;
}
.ground {
  background-color: #C49925;
  color: #5E2900;
}
.flying {
  background-color: #67ACAA;
  color: #105550;
}
.psychic {
  background-color: #A44E96;
  color: #40102F;
  text-shadow: 0px 1px 0 #edc0e5;
}
.bug {
  background-color: #BBBB4C;
  color: #50500C;
}
.rock {
  background-color: #CCCDBC;
  color: #646446;
}
.ghost {
  background-color: #6364b1;
  color: #1E1F63;
  text-shadow: 0px 1px 0 #b7b8e2;
}
.dragon {
  background-color: #F98519;
  color: #5F1A06;
}
.dark {
  background-color: #61564C;
  color: #2A1E14;
  text-shadow: -1px 1px 0 #8e837a, 1px 1px 0 #8e837a;
}
.steel {
  background-color: #BBA59F;
  color: #5E3533;
}
.fairy {
  background-color: #CC66A8;
  color: #84102B;
}
nav .brand-logo {
  margin-left: 10px;
  font-size: 2.6rem;
  color: #FEFF12;
  text-shadow: 2px 2px 0 #3759CC, 2px -2px 0 #3759CC, -2px 2px 0 #3759CC, -2px -2px 0 #3759CC, 2px 0px 0 #3759CC, 0px 2px 0 #3759CC, -2px 0px 0 #3759CC, 0px -2px 0 #3759CC;
}
.bold {
  font-weight: bold;
}
.btn {
  font-size: 13.5px;
}
.closeable {
  cursor: pointer;
}
.dex-ability {
  background-color: lightgrey;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empty {
  padding-top: 3px;
  padding-bottom: 7px;
  color: black;
  font-size: 12px;
  font-family: monospace;
  text-transform: uppercase;
}
.error-msg::first-letter {
  text-transform: uppercase;
}
.font-pokemon {
  color: #FEFF12;
  text-shadow: 2px 2px 0 #3759CC, 2px -2px 0 #3759CC, -2px 2px 0 #3759CC, -2px -2px 0 #3759CC, 2px 0px 0 #3759CC, 0px 2px 0 #3759CC, -2px 0px 0 #3759CC, 0px -2px 0 #3759CC;
}
.form-holder {
  padding: 2vw;
  border-radius: 10px;
  background-color: lightgrey;
}
.frontpage-bg {
  background-color: #f0ead6;
}
.general-info {
  width: 160px;
  background-color: #f0ead6;
  font-size: 27px;
}
.greyed {
  color: darkgrey;
}
.greyed-light {
  color: lightgrey;
}
.in-moveset {
  background-color: yellow;
}
.inlineitem {
  display: inline-block;
  vertical-align: middle;
}
.inlinecheckbox {
  display: inline-block;
  margin-left: 3%;
  font-family: monospace;
}
.monospace {
  font-family: monospace;
}
.move-info {
  background-color: lightgrey;
  margin-bottom: 5px;
}
.moveset {
  background-color: #f0ead6;
}
.no-line-height {
  margin-block-start: 0;
  margin-block-end: 0;
}
.nomargin {
  margin: 0;
}
.nomarginpreset {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.nomargin-bottom {
  margin-bottom: 0;
}
.nomargin-top {
  margin-top: 0;
}
.nopadding {
  padding: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.own-move-info, .own-ability-info {
  background-color: #C6C1B0;
  margin-bottom: 5px;
}
.padded-top {
  padding-top: 30px;
}
.padded-bottom {
  padding-bottom: 30px;
}
.padded-text {
  padding: 4vw 3vw;
}
.party-pokes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.party-space {
  min-height: 80px;
  background-color: #212121;
}
.pokeinddetail {
  background-color: #f0ead6;
}
/* .pokesearch {
  background-color: #ab0022;
} */
.poketilea {
  display: inline-block;
}
.poketilediv {
  border: 2px solid darkgrey;
  border-radius: 8px;
  padding: 5px;
  background-color: #f0ead6;
}
.poketilep {
  font-size: 20px;
  color: black;
}
.poketype {
  width: 103px;
}
.potential {
  margin-top: 1vw;
  margin-right: 1vw;
}
.prof-img {
  margin-top: 1vw;
}
.side-by-side {
  display: inline-table;
}
.site-title {
}
.submit {
  text-align: center;
}
.move-middle {
  display: flex;
  justify-content: space-between;
}
.move-name, .ability-name {
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
}
.name-role {
  display: flex;
}
.reminder {
  margin: 10px;
  border: 1px solid red;
  border-radius: 6px;
  padding: 5px;
  background-color: #870000;
  color: white;
}
.reminder-good {
  margin: 10px;
  border: 1px solid #00ff37;
  border-radius: 6px;
  padding: 5px;
  background-color: #006818;
  color: white;
}
.search-sec {
  background-color: #73021b;
}
.small-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: monospace;
  text-align: center;
  text-transform: capitalize;
}
.stats {
  margin: 3%;
  margin-bottom: 2vw;
  margin-top: 1vw;
  padding: 4%;
  background-color: #C6C1B0;
  font-family: monospace;
}
.statbar {
  display: flex;
  justify-content: space-between;
}
.table-title {
  font-size: 25px;
  font-family: sans-serif;
}
.table-title::first-letter {
  text-transform: uppercase;
}
.taglabel {
  margin-top: 4px;
  font-size: 8px;
  line-height: .1;
}
.text-black {
  color: black;
  text-decoration: none;
}
.top-info {
  display: inline-block;
}
.update > button {
  height: 100px;
  vertical-align: text-bottom;
}

p > a {
  color: yellow;
  text-decoration: underline;
}
blockquote {
  color: white;
}

body {
  background-color: black;
}
p {
  color: white;
}

button > .large {
  font-size: 70px;
}
button > i{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
fieldset {
  border-color: black;
  background-color: #f0ead6;
}
h1 {
  color: white;
  text-align: center;
}
h2, h3, h4, h5, h6 {
  color: white;
}
input {
  color: white;
}
.label {
  color: black;
  font-family: monospace;
}
.dis {
  color: grey;
}
legend {
  border: 2px solid black;
  padding: 4px 10px;
  background-color: #b81838;
  color: white;
  font-family: monospace;
  font-weight: bold;
}

::placeholder {
  color: grey;
  opacity: 1;
}


[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  background-color: lightgrey;
}

[type="checkbox"]:not(:checked):disabled+span:not(.lever) {
  cursor: default;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background-color: #1d1c23;
}
