<h1>search stub</h1>
<div class="form-holder">
  <form action="" method="get">
    <div class="generation-holder">
      <% gen.forEach((gen, i) => { %>
        <div class="inlinecheckbox">
          <label>
            <input type="checkbox" name="gen" value="<%= gen.id %>" checked="checked" />
            <span><%= gen.id %>. <%= gen.name %></span>
          </label>
        </div>
      <% }) %>
    </div>
    
  </form>
  <div class="search-section">

  </div>
  <form class="quicksearch-gen1" action="/search/pokemon" method="get">
    <input type="hidden" name="offset" value="0">
    <input type="hidden" name="limit" value="151">
    <input type="submit" value="Kanto">
  </form>
  <form class="quicksearch-gen2" action="/search/pokemon" method="get">
    <input type="hidden" name="offset" value="151">
    <input type="hidden" name="limit" value="100">
    <input type="submit" value="Johto">
  </form>
  <div class="">

  </div>
</div>
