<h1>search stub</h1>
<a href="/search/results">Kanto</a>
<div class="form-holder">
  <form action="" method="get">
    <div class="generation-holder">
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen1" checked="checked" />
          <span>1. Kanto</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen2" checked="checked" />
          <span>2. Johto</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen3" checked="checked" />
          <span>3. Hoenn</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen4" checked="checked" />
          <span>4. Sinnoh</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen5" checked="checked" />
          <span>5. Unova</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen1" checked="checked" />
          <span>6. Kalos</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="gen1" checked="checked" />
          <span>7. Alola</span>
        </label>
      </div>
    </div>
    <div class="type-holder">
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="normal" checked="checked" />
          <span>Normal</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="fighting" checked="checked" />
          <span>Fighting</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="flying" checked="checked" />
          <span>Flying</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="poison" checked="checked" />
          <span>Poison</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="ground" checked="checked" />
          <span>Ground</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="rock" checked="checked" />
          <span>Rock</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="bug" checked="checked" />
          <span>Bug</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="ghost" checked="checked" />
          <span>Ghost</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="steel" checked="checked" />
          <span>Steel</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="fire" checked="checked" />
          <span>Fire</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="water" checked="checked" />
          <span>Water</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="grass" checked="checked" />
          <span>Grass</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="electric" checked="checked" />
          <span>Electric</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="psychic" checked="checked" />
          <span>Psychic</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="ice" checked="checked" />
          <span>Ice</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="dragon" checked="checked" />
          <span>Dragon</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="dark" checked="checked" />
          <span>Dark</span>
        </label>
      </div>
      <div class="inlinecheckbox">
        <label>
          <input type="checkbox" name="fairy" checked="checked" />
          <span>Fairy</span>
        </label>
      </div>
    </div>
  </form>
  <form class="quicksearch-gen1" action="/search/results" method="get">
    <input type="hidden" name="offset" value="0">
    <input type="hidden" name="limit" value="151">
    <input type="submit" value="Kanto">
  </form>
  <div class="">

  </div>
</div>
